<footer class="bg-CH ">
    <div class="">
        <div class="grid grid-cols-2 gap-8 px-4 py-6 lg:py-8 md:grid-cols-4">
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Inicio</h2>
                <ul class="text-gray-500 dark:text-gray-400 font-medium">
                    <li class="mb-4">
                        <a href="#" class=" hover:underline">Cónocenos</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Ahorro</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Crédito</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Asóciate</a>
                    </li>
                </ul>
            </div>
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Redes Sociales</h2>
                <ul class="text-gray-500 dark:text-gray-400 font-medium">
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Twitter</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Facebook</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">TikTok</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Contactanos</a>
                    </li>
                </ul>
            </div>
            <div>
                <h2 class="mb-6 text-3xl font-semibold text-gray-900  dark:text-white">Suscribete para recibir noticias de Caja Hipódromo</h2>
                <input type="text">
            </div>
        </div>

    </div>
</footer>