<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">

    <title>Document</title>
</head>

<body>

    <header class="h-28 bg-CH font-Roboto ">
        <div class="flex justify-between ">
            <div class=" w-28 h-24 pl-5 pt-2 ">
                <img class="rounded-full" src="/images/logo.jpeg" alt="Logo">
            </div>
            <div class="flex space-x-10 pr-2">
                <button id="ibtn" class="bg-CH hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-4">Inicio</button>
                <button
                    class="bg-CH hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-4">Cónocenos</button>
                <button class="bg-CH hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-4">Ahorro</button>
                <button id="rbtn" class="bg-CH hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-4">Crédito</button>
                <button
                    class="bg-CH hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-4">Servicios</button>
                <button
                    class="bg-CH hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-4">Asóciate</button>
                <button class="bg-CH hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-4">Review</button>
            </div>
            <div class="mt-4 space-x-5 pr-5">
                <button class="bg-white text-black font-bold py-2 px-4 rounded mt-4">Inicia sesión</button>
            </div>
        </div>
    </header>

<script src="/js/redireccionamiento.js"></script>
</body>

</html>