<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>Document</title>
</head>

<body class="font-Roboto">
    {{>header}}

    <!--Credito-->
    <section class="font-Roboto">
        <div class="flex justify-between">
            <div>
                <div class="flex items-center w-56 ml-11 mt-20">
                    <hr class="  flex-1 border-t-2 border-black mr-4">
                    <p class="font-bold">CREDITO</p>
                </div>
                <div class="pl-12rem mt-5">
                    <h1 class="text-7xl">Credito</h1>
                    <p class="w-690px mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe delectus
                        <br>a deserunt labore aperiam ab! Pariatur blanditiis eaque officia, ipsam nulla exercitationem
                        iusto cupiditate corporis tempore ipsa? Delectus, <br> perferendis blanditiis!
                    </p>
                    <button class="bg-red-800 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-4">
                        Solicitar
                    </button>
                </div>
            </div>
            <div>
                <div class="mt-20 pr-56 ">
                    <img class="rounded-lg h-96" src="/images/CreditoImg.jpg" alt="main">
                </div>
            </div>
    </section>

    <!--Credito Hipódromo-->
    <section class=" mt-20 font-Roboto">
        <div class="flex">
            <div class="bg-red-800 rounded-md ml-48 text-white w-606px">
                <div class="p-4">
                    <h1 class="text-3xl">Creditos Hipódromo</h1>
                    <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
                        eros elementum tristique.
                        Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae
                        erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet.
                        Nunc ut sem vitae risus tristique posuere.
                    </p>
                </div>
            </div>
            <div class="ml-87px">
                <div class=" flex space-x-3">
                    <p class="underline decoration-CH decoration-2">Automovil</p>
                    <p>Terreno</p>
                    <p>Construye</p>
                </div>
                <div class="w-50rem">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum
                    tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero
                    vitae erat.

                    Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique
                    posuere.
                </div>
            </div>
    </section>

    <!-- Beneficios-->
    <section class="mt-20">
        <div class="flex justify-center mb-5">
            <h1 class="text-5xl">Beneficios de Creditos</h1>
        </div>

        <div class="flex text-center justify-center space-x-80">
            <div>
                <img class="mb-3" src="/images/icons/Star.svg" alt="">
                <p>CAT</p>
                <P>25%</P>
            </div>
            <div>
                <img class="mb-3" src="/images/icons/Dinero.svg" alt="">
                <p>Montos</p>
                <p>Hasta $100,000</p>
            </div>
            <div>
                <img class="ml-4 mb-3" src="/images/icons/Like.svg" alt="">
                <p>Facilidad</p>
                <p>Aprobados en 24hr</p>
            </div>
            <div>
                <img class="mb-3" src="/images/icons/Reloj.svg" alt="">
                <p>Plazos</p>
                <p>Hasta 72 meses</p>
            </div>
        </div>
    </section>

    <!--Crédito para cada ocasión-->
    <section class="font-Roboto bg-CH mt-20">

        <div class="flex justify-center mb-14">
            <h1 class="text-white text-3xl mt-7">Un credito para cada ocasión</h1>
        </div>

        <div class="flex justify-center space-x-10">
            <div class="pl-10">
                <img class="mb-3 rounded-lg" src="/images/ConstruyeHogar.jpg" alt="">
                <p class="text-white">Construye tu hogar</p>
                <P class="text-GR">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
                    eros.</P>
            </div>
            <div>
                <img class="mb-3 rounded-lg" src="/images/ConsigueAuto.jpg" alt="">
                <p class="text-white">Consigue un auto</p>
                <P class="text-GR">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
                    eros.</P>
            </div>
            <div>
                <img class="mb-3 rounded-lg" src="/images/AquiereTerreno.png" alt="">
                <p class="text-white">Adquiere tu terreno</p>
                <P class="text-GR">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
                    eros.</P>
            </div>
            <div class="pr-10">
                <img class="mb-3 rounded-lg" src="/images/AbreNegocio.jpg" alt="">
                <p class="text-white">Crea tu negocio</p>
                <P class="text-GR mb-28">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
                    enim in
                    eros.</P>
            </div>
        </div>


    </section>

    <section class="mt-20">
        <div class="flex  justify-center mb-20  ">
            <div class="bg-white rounded-lg shadow-md p-8  bg-cover w-1230px h-384px text-center text-white items-center"
                style="background-image: url('/images/Socios.jpg');">

                <p class="text-5xl mt-5">¿Qué esperas? <br>Conviertete en socio Caja <br>Hipódromo</p>
                <button class="bg-CH hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-4">
                    Más información
                </button>

            </div>
        </div>

    </section>


    {{>footer}}


</body>

</html>