<footer class="bg-CH ">
    <div class="">
        <div class="grid grid-cols-2 gap-8 px-4 py-6 lg:py-8 md:grid-cols-4">
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Inicio</h2>
                <ul class="text-WH font-medium">
                    <li class="mb-4">
                        <a href="#" class=" hover:underline">Cónocenos</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Ahorro</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Crédito</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Asóciate</a>
                    </li>
                </ul>
            </div>
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Redes Sociales</h2>
                <ul class="text-WH font-medium">
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Twitter</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Facebook</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">TikTok</a>
                    </li>
                    <li class="mb-4">
                        <a href="/home" class="hover:underline">Contactanos</a>
                    </li>
                </ul>
            </div>
            <div>
                <h2 class="mb-6 text-3xl font-semibold text-WH">Suscribete para recibir noticias de Caja Hipódromo</h2>
                <div class="flex">
                <input class="py-2 px-6 rounded-l-lg border-2 border-TX bg-transparent text-white" placeholder="Tu correo" type="text">
                <button class="bg-white text-black font-bold py-2 px-4 rounded-r-lg border-white"> Suscribete</button>
                </div>
            </div>
        </div>
        <div id="google_translate_element" class="google h-auto w-auto"></div>

    </div>
</footer>
<script type="text/javascript">
function googleTranslateElementInit() {
	new google.translate.TranslateElement({pageLanguage: 'es', includedLanguages: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true}, 'google_translate_element');
        }
</script>

<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>